@import "variables.less";
@import "mixins.less";

/** document-level items *******************************/

@font-face {
	font-family: @font-family; 
	src: @font-src;
}

/** /document-level items *******************************/

/** general rules for touch overrides ******************/

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

a {
    -webkit-touch-callout: none !important; 
    color: @anchor !important;
    font-weight: normal !important;
}

.ui-page {
    -webkit-backface-visibility: hidden;
}

/** /general rules for touch overrides *****************/


#main { 
	background-image:url(../images/bg@2x.png);
	background-repeat:no-repeat;
	background-size:320px 568px;
}

#about {
	background-image:url(../images/bgabout@2x.png);
	background-repeat:no-repeat;
	background-size:320px 568px;
}

.about_content {
	margin-top: 170px;
	color: #aaa;
	padding-left: 10px;
}

.body {
	background-color: transparent; 
}

.light_btn {
	clear: both;
	margin: 40px auto 20px auto;
	text-align: center;
}

.browse_btn {
	clear: both;
	margin: 10px auto 10px auto;
	text-align: center;
}

#urlurl {
	border-color: #333 !important;
}

.hdr {
	width: 100%;
	height: 50px;
}

.main_grid {
	margin: 0px 20px 0px 20px;
}